.Admin {
    min-height: 100vh;
    .admin-title {
        text-align: center;
        color: white;
        background-color: #075985;
        font-weight: 700;
    }
    .admin-content-wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        .forms-wrapper {
            color: white;
            .form-title {
                text-align: center;
                font-weight: 700;
                background-color: #082f49;
                padding: 1em;
                width: 100%;
            }
            table {
                text-align: center;

                tbody {
                    tr {
                        td {
                            padding: 0.5em;
                        }
                        &:nth-child(odd) {
                            background-color: #075985; // Color de fondo para filas impares
                        }
                        &:nth-child(even) {
                            background-color: #084465; // Color de fondo para filas pares
                        }
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2em;
            }
            .btn-form {
                color: rgb(215, 212, 212);
                margin-top: 1em;
                background-color: #b3185b;
                &:hover {
                    color: white;
                }
            }
        }
        .DataListTable {
            margin-bottom: 3em;
            thead {
                .table-title-th {
                    background-color: #082f49;
                }
                .title-headers {
                    background-color: #b3185b;
                }
            }
        }

        .users-list-wrapper{
            display: flex;
            flex-direction: column;
        }
    }
}
