.Home {
    display: flex;
    min-height: 100vh;
    .banner-feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        .banner {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            border-radius: 40px;
            width: 80%;
        }

        .games {
            color: white;
            .game-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                background: rgba(8, 145, 178, 0.4);
                border-radius: 40px;
                .game {
                    display: flex;
                    justify-content: center;
                    width: 80%;
                }
                .home-team {
                    margin-right: 10px;
                }
                .home-team,
                .away-team {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 188px;
                    background-color: #0c4a6e;
                    margin: 10px;
                }
                .home-team {
                    padding-right: 10px;
                }
                .away-team {
                    padding-left: 10px;
                }
                .away-logo,
                .home-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .bet-sheet {
        padding: 5px;
        color: white;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 270px;
        height: 481px;
        background: #075985;
        border-radius: 40px;
    }

    .sports-nav {
        color: white;
        margin-top: 30px;
        font-weight: 40;
        &-title {
            font-weight: 700;
        }
    }
}

@media (max-width: 458px) {
    .Home {
        .home-team,
        .away-team {
            font-size: 13px;
        }
    }
}
