.BetHistoryWrapper {
    min-height: 100vh;

    .BetHistoryPlayer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1em;

        .return-button-wrapper {
            margin: 1em;
        }
        .DataListTable {
            display: flex;
            justify-content: center;
            tbody {
                tr {
                    cursor: pointer;
                }
            }
        }

        .finalize-bet-wrapper {
            display: flex;
            color: white;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin-top: 4em;
            margin-bottom: 2em;
            .stand-out {
                color: red;
            }
        }
    }
}
